@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Swear Text Medium';
    src: url('/font/fonnts.com-Swear-Text-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body  {
    background-color: white;
    color: black;
    margin: 0;
    font-size: 12px;
    overflow-x: hidden;
}

li{
    font-family: 'IBM Plex Sans', IBM, monospace;
}
p{
    font-family: 'IBM Plex Sans', IBM, monospace;
}

strong {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Swear Text Medium', 'DM Sans', sans-serif;
    font-weight: bold;
}

.statement-section {
    max-width: 700px;
    margin: 40px auto 80px auto;
    font-size: 9px;
    padding: 0px 30px;
}

.statement-section h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.statement-section p {
    font-size: 0.8rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

#clegit {
    text-align: left;
    font-size: 0.8rem;
}

.archive-section {
    max-width: 700px;
    margin: 80px auto 80px auto;
    padding: 0 20px;
}

.archive-section h2 {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1.3rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .archive-section h2 {
        margin-bottom: -1.4rem;
    }
}

.archive-section p,
.archive-section div,
.archive-section a {
    font-size: 0.8rem;
    line-height: 1.5;
}

.imgbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 2rem 0;
}

.imgbox_01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    margin-bottom: -1rem;
}

.archive_img {
    max-width: 100%;
    height: auto;
}

.footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    padding: 10px 0;
}

#loading-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#loading-overlay img {
    max-width: 100px;
    margin-bottom: 10px;
}

#loading-overlay.hide {
    opacity: 0;
}