<div class="header">

    <div class="mainlogo">
        <a href="/index.html"><img src="/assets/img/ott_web/logo.png" alt="Ott Yarris Logo" class="logo-img"></a>
    </div>

    <div class="nav-container">
        <button class="hamburger-overlay" aria-label="メニュー" aria-controls="overlay-menu" aria-expanded="false">
            <span class="hamburger-overlay__line"></span>
            <span class="hamburger-overlay__line"></span>
            <span class="hamburger-overlay__line"></span>
        </button>
        <nav id="overlay-menu" class="nav-overlay" aria-hidden="true">
            <div class="nav-overlay__content">
                <ul class="nav-overlay__list">
                    <li class="nav-overlay__item"><a href="/pages/about.html" class="nav-overlay__link"
                            data-nav>About</a></li>
                    <li class="nav-overlay__item"><a href="/pages/oy01.html" class="nav-overlay__link"
                            data-nav>OttYarris</a></li>
                    <li class="nav-overlay__item"><a href="/pages/oy02.html" class="nav-overlay__link"
                            data-nav>OttYarris In A Church</a></li>
                    <li class="nav-overlay__item"><a href="/pages/oy03.html"
                            class="nav-overlay__link" data-nav>OttYarris -Pyramid Reverb-</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>