@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Swear Text Medium';
    src: url('font/fonnts.com-Swear-Text-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Swear Text Medium', 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.navbar {
    background-color: transparent;
}

strong {
    font-weight: 400;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    color: black !important;
    font-size: 12px;
}

.navbar-nav {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
}


.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.navbar-collapse.show {
    z-index: 20 !important;
    position: absolute !important;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    align-items: start;
    padding-top: 80px;
    transition: background 0.2s;
}

.archive_yt{
    margin-top: -0.8rem;
}

.archive-section {
    max-width: 700px;
    margin: 80px auto 80px auto;
    padding: 0 20px;
}

.archive-section h2 {

    font-size: 1.4rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1.3rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .archive-section h2 {
        margin-bottom: -1.4rem;
    }
}

.archive-section p,
.archive-section div,
.archive-section a {
    font-size: 0.8rem;
    line-height: 1.5;
}

.imgbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 2rem 0;
}

.imgbox_01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    margin-bottom: -1rem;
}

.archive_img {
    max-width: 100%;
    height: auto;
}

.footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    padding: 10px 0;
    background-color: white;
}

#loading-overlay {
    position: fixed;
    z-index: 9999;
    background: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: 'IBM Plex Mono', sans-serif;
}

#loading-overlay img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}
